/build
/classes
/bin
/out
.DS_Store
*~
*.swp
/.idea
*.iws
*.ipr
*.iml
.gradle

gradle.properties
release-key.asc

# files generated when importing Gradle project in Eclipse
.classpath
.project
.settings
